<footer class="site-footer">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col">
          <h4>News Digest</h4>
          <p>Stay up to date with the world's most relevant events with our user-friendly news platform. We offer you a simple and intuitive interface to quickly search, filter and read news based on your interests.</p>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        
       
        <div class="footer-col">
          <h4>Newsletter</h4>
          <p>Subscribe to our newsletter for daily updates</p>
          <form class="newsletter-form">
            <input type="email" placeholder="Your Email" required>
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-container">
        <p>&copy; 2025 News Digest. All Rights Reserved.</p>
        <div class="developers">
          <span>Developed by:</span>
          <a href="https://github.com/kuznargi" target="_blank">Kuznargi</a>
        </div>
      </div>
    </div>
  </footer>